body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}
a:link {
	font-weight: 600;
}
a:visited {
	color: #9daf72;
}
a:hover {
	color: #859731;
}
nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

.container {
	display: flex;
	flex-direction: row;
	margin: 15px;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #566047;
}

.card {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 20px;
	text-align: center;
	background-color: #562f32;
	color: white;
	margin: 20px;
	width: 500px;
	max-height: 800px;
	padding: 5px;
}
.linkcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
	padding: 5px;
}
.h1 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	color: white;
	flex: 1;
}
h1:hover {
	color: gray;
	font-weight: bold;
}

.img {
	border-radius: 75px;
	width: 250px;
	height: 250px;
}
.priceinvcont {
	text-align: center;
}
.priceinvcont > div {
	display: inline-block;
}
/* Form */

.editForm {
	width: 80vh;
	margin: auto;
}
input[type='text'] {
	padding: 5px 10px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type='submit'] {
	width: 50%;
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: auto;
	margin-top: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type='submit']:hover {
	background-color: darkgreen;
}
input[type='delete']:hover {
	background-color: darkred;
}
label {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: left;
	clear: both;
	float: left;
	margin-right: 15px;
}
.deleteButton {
	width: 50%;
	height: 50px;
	background-color: red;
	color: white;
	padding: 14px 20px;
	margin: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.card-vertical {
	display: flex;
	border: 1px solid black;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 5px;
	text-align: center;
	background-color: #562f32;
	color: white;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 800px;
	max-height: 800px;
	padding: 10px;
}

/* edit-form end */
/* userprofile */
.card-vertical > ul {
	list-style: none;
}
.card-vertical > li {
	padding: 5px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
}

li:last-child {
	border: none;
	padding-bottom: 10px;
}

button[type='button'] {
	width: 50%;
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: auto;
	margin-top: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
button[type='button']:hover {
	background-color: darkgreen;
}
.containerNoWrap {
	display: flex;
	flex-direction: column;
	margin: 15px;
	justify-content: space-around;
	background-color: #566047;
	flex-wrap: none;
}
div > div.squareBorder {
	border-radius: 1px;
	background-color: #566047;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.warning {
	background-color: orange;
}
/* stripe checkout */
.card-stripe {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 20px;
	text-align: center;
	background-color: rgb(0, 140, 221);
	color: white;
	margin: 20px;
	width: 500px;
	max-height: 800px;
	padding: 5px;
}
